:root {
  --grey-box-color: #434344;
  --box-outline-color: #565758;
  --letter-white: #f8f8f8;
  --box-expanded-color: #8c8d8d;
  --box-solid-incorrect-grey: #3a3a3c;
  --box-solid-correct-green: #538d4e;
  --box-solid-mispositionyellow: #b59f3b;
}
body {
  height: 100%;
  width: auto;
  background-color: #121213;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size-adjust: 0.45;
}
#letterGridContainer {
  height: 32rem;
  width: 27rem;

  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  position: absolute;
  top: 10vh;
}
.letterGridRow {
  height: 20%;
  width: 100%;

  display: flex;
  flex-direction: row;

}
.letterBox {
  height: 85%;
  width: 20%;

  margin: 5px;

  color: var(--letter-white);
  font-size: 3em;
  font-weight: bold;

  border: var(--box-outline-color) 2px solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.1s ease-in-out;
}

.letterBox.animate {
  animation: expand 0.3s forwards;
}
.letterBox.colorGreen {
  animation: colorSquareGreen 1s forwards;
}
.letterBox.colorYellow {
  animation: colorSquareYellow 1s forwards;
}
.letterBox.colorGrey {
  animation: colorSquareGrey 1s forwards;
}


.answercontainer{

  height: 100px;
  width : 100px;

  border : solid pink 3px;

  position: relative;
  top : 45em;

  width: 45rem;
  height: 25rem;


}

.answer.fadein{
  position: relative;
 
  color: var(--box-expanded-color);

  font-size: 2.5rem;

  animation: fadeIn 1s;
}


@keyframes expand {
  0% {
    transform: scale(1);
    border: solid 2px var(--box-outline-color);
  }
  50% {
    transform: scale(1.1);
    border: solid 2px var(--box-expanded-color);
  }
  100% {
    transform: scale(1);
    border: solid 2px var(--box-expanded-color);
  }
}

@keyframes colorSquareGreen {
  0% {
    transform: scale(1);
    background-color: #434344;
  }

  100% {
    transform: scale(1);
    background-color: var(--box-solid-correct-green);
  }
}

@keyframes colorSquareYellow {
  0% {
    transform: scale(1);
    background-color: #434344;
  }

  100% {
    transform: scale(1);
    background-color: var(--box-solid-mispositionyellow);
  }
}

@keyframes colorSquareGrey {
  0% {
    transform: scale(1);
    background-color: #434344;
  }

  100% {
    transform: scale(1);
    background-color: var(--box-solid-incorrect-grey);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}